body {background-color:#b3cccc; }
h {color:#0059b3; font-size:30px}
h1 {color:003366; font-size:20px}
h2 {color:003366; font-size:20px}
h3 {color:003366; font-size:20px}
h4 {color:003366; font-size:20px}
h5 {color:003366; font-size:20px}
h6 {color:003366; font-size:20px}
h7 {color:003366; font-size:20px}
h8 {color:003366; font-size:20px}
